<!DOCTYPE html>
<html>
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css" type="text/css">
        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/back.css" type="text/css">
        <link rel="stylesheet" media="print" href="{$basePath}/css/print.css" type="text/css">
        <link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
        <script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
    </head>

    <body>
        <div>
            <h1>Administrátor</h1>
        <p>Pro veškeré oprávnění je nutné nastavit email a heslo administrátora.</p>
        <p>Přihlašovací jméno admina je: <strong>Admin</strong> a heslo, které se právě zvolíte.<br />
        Heslo jde pak dále měnit v administraci stránek.</p>
    {control newPassForm}
    </div>
</body>
</html>