{block content}
<h1>První spuštění</h1>
<p>Na webu nejsou žádné stránky, které by šly zobrazit.</p>
<p>Přihlašte se do administrace a nějaký obsah si vytvořte...</p>
<a href="{link :Admin:Info:default}">Administrace</a>
{/block}