{var $title="Nastavení kontaktního formuláře"}
{block content}
<h1>Kontaktní formulář</h1>
<p>Na stránkách je možnost zobrazení formuláře pro odeslání rychlého emailu níže nastavenému příjemci. 
Tento formulář bude dostupný v levém horním rohu stránky pod tlačítkem "Napište nám". 
Formulář jde nastavit buď jako dostupný a nebo nedostupný. Dále jde nastavit email příjemce, kam budou 
emaily z formuláře odeslány. Email příjemce lze vybrat z emailů všech uživatelů.</p>
{control setContactForm}
{/block}