
<h1>Editace profilu</h1>
    {control editUserForm}
<ul>
    <li><a href="{link delete!}" onclick="return confirm('Opravdu chcete účet trvale odstranit?\n\n\
Všechny články a galerie publikované pod tímto účtem budou smazány!\n\n\
Příspěvky v knize návštěv zůstanou zachovány!')">Smazat účet</a></li>
</ul>