{var $title="Instalace systému"}
{block content}
<h1>Administrátor</h1>
<p>Pro veškeré oprávnění je nutné nastavit email a heslo administrátora.</p>
<p>Přihlašovací jméno admina je: <strong>Admin</strong> a heslo, které se právě zvolíte.<br />
    Heslo jde pak dále měnit v administraci stránek.</p>
<table>
    <tr>
        <td>
        {control newPassForm}
        </td>
        <td>
            <img src="{$basePath}/images/user_control.png" alt="">
        </td>
    </tr>
</table>

{/block}